################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tags/FileContentIndex
/.vs/tags/v17
/.vs
