################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FewTags
/.vs
/userids.txt
/usernames.txt
