################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tags/FileContentIndex
/.vs/tags/v17
/.vs
/FewTags/FewTags ML/Fewdytags/obj/Debug
/FewTags RML/Fewdytags/obj/Debug
/FewTags/FewTags RML/Fewdytags/obj/Release
/FewTags/FewTags RML/Fewdytags/obj/Debug
/FewTags/FewTags ML/FewTags ML/Fewdytags/obj/Release
/FewTags/FewTags ML/FewTags ML/Fewdytags/obj/Debug
